#include("./WEB/head.html")
				
<input id="ResultModule" type="hidden"  />

<h1>Apache Spark Performance</h1>		
<h2> Description</h2>
<hr />
Each data point represents each workload runtime percent compared with the previous week. Different lines represents different workloads running on spark yarn-client mode.</p>
<h3>Hardware</h3>
<hr />
CPU type: 2P Quad-core Core 2 Duo<br />
 2 Duo CPU frequency: 2800Mhz<br />
Internal name server/processor: lkp-st02-x8664<br />
Description: 2P Quad-core Harpertown CPU, with 8G mem, and 12 SAS disks.<br />
Memory: 8GBMb<br />
Disk type: SAS<br />
Number of disks: 12<br />
Disk size: 300GB<br />
Disk controller: SCSI<br />
storage controller: LSI Logic / Symbios Logic SAS1068E PCI-Express Fusion-MPT SAS</p>

#include("./WEB/result_time.html")
#include("./WEB/result_release.html")

#include("./WEB/footer.html")
