dew.db=derby
dew.db.driver=org.apache.derby.jdbc.EmbeddedDriver
dew.db.url=jdbc:derby:../Database/dewdb
dew.db.username=app
dew.db.password=app

dew.webcenter.applogfile.path=/tmp/webcenter
workload.output.path=/tmp/
#spark.log.path=/

#dew.master.url=Dew_Master_Host_Name:6066